:root {
  --primary-color-text: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-color-secondary: #f4f4fd;
  --set-gap: 24px;
  --helper-text-color: #8e8f99;
  --pressed-state-color: #404bbf;
  --light-mode-background-color: #f4f4fd;
  --success-messages-color: #404bbf;
  

}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.section-two {
  padding-bottom: 120px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* -- Components -- */
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: var(--primary-color-text);
}
/* -- Components -- */

/* -- Header -- */
.page-header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}
.page-header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
 
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-plus {
  color: var(--primary-color-text);
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-contact {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address-link {
  font-style: normal;
  margin-left: auto;
}
.contact-link {
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* -- Header -- */

/* --- Hero --*/
.hero {
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-color-text);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg.jpg");
  background-size: cover;
  
}
.hero-title {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  
}
.modal-open-hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 30px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.modal-open-hero-button:hover,
.modal-open-hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  padding: 12px 24px;
  min-width: 69px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--accent-color-secondary);
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
/* -- Hero -- */
.advantages-img-list {
display: flex;
justify-content: center;
  gap: 24px;
  margin-bottom: 8px;
}
.advantages-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light-mode-background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-img-icon {
  margin: 24px 100px;
}
/* -- Sections Portfolio -- */

.section-one-list {
  gap: var(--set-gap);
  display: flex;
}
.section-two-list {
  gap: var(--set-gap);
  display: flex;
}
.section-one-list-item {
  flex-basis: calc((100%-72px) / 4);
}
.section-two-list-item {
  flex-basis: calc((100%-72) / 3);

 
}
.card-list {
  display: flex;
  gap: var(--set-gap);
}
.card {
  background-color: #ffffff;
}
.card-flex {
  flex-basis: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-flex-content {
  padding: 32px 16px;
}
.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.sub-title {
  text-align: left;
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.card-description {
  text-align: center;
  margin-bottom: 8px;
}
.our-team {
  background-color: #f4f4fd;
}
/* -- Portfolio -- */

.list-button-portfolio {
  display: flex;
  gap: var(--set-gap);
  margin-bottom: 72px;
  justify-content: center;
}
.hero-button:hover, .hero-button:link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
.list-card-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--set-gap);
  row-gap: 48px;
  
}
.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-card-portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  
}

.card-portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-card-portfolio {
  text-align: left;
  margin-bottom: 8px;
}

/* Social links our team*/
.social-list.List {
  display: flex;
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  
 
  /* background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center; */
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #404bbf

}
.social-list-link:hover .social-list-icon {
  fill: teal;
}
.social-list-link:hover, .social-list-link:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--success-messages-color);
  }
/* Customers Section */

.customers-section {
  padding: 120px 0;
}

.customers-section-title {
  margin-bottom: 72px;
  line-height: 1.1;
}

.customers-list-icon {
  margin: 16px 32px;
  fill: currentColor
}



.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  color: var(--helper-text-color);
  border: 1px solid var(--helper-text-color);
  fill: #f4f4fd;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}

.customers-list-icon:hover {
fill: #404bbf;
}
/* -- Footer --*/
.footer-style {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--primary-color-text);
}
.wrapper {
  display: flex;
  }

   .footer-wrapper {
    margin-right: 120px;
   }

.social-media-text {
  margin-bottom: 16px;
  color: var(--light-mode-background-color);
  width: 264px;
}
.logo-plus-footer {
  color: var(--accent-color-secondary);
}
.footer-desc {
  color: var(--accent-color-secondary);
  width: 264px;
  margin-right: 20px;
  
 
}
.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--success-messages-color);
}
.social-list-item {
  gap: 24px;
}

.social-list-footer {
  display: flex;
  gap: 24px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
/* Social links footer */


/* .social-list-link-instagram {
background-image: url();
}
.social-list-link-twitter {
  background-image: url();
}
.social-list-link-facebook {
  background-image: url();
}
.social-list-link-linkedin {
  background-image: url();
} */
/* -- Footer --*/